---
import Layout from '@/layouts/Layout.astro';
import { RealtimeChangeTest } from '@/features/test/RealtimeChangeTest';
---

<Layout title="Client 2">
  <main>
    <RealtimeChangeTest client:only="react" />
  </main>
</Layout>
