---
import Layout from '@/layouts/Layout.astro';
import { Heading } from '@radix-ui/themes';
---

<Layout title="Découvrir - Sport Badminton — IUT Lannion">
  <main>
    <Heading>Match Page</Heading>
  </main>
</Layout>
