---
import Layout from '@/layouts/Layout.astro';
import { Heading } from '@radix-ui/themes';

import { Account } from '@/features/account/Account';
import NeedAuth from '@/components/NeedAuth';
---

<Layout title="Mon Espace - Sport Badminton — IUT Lannion">
  <main>
    <Heading size={{ initial: '2', xs: '4', md: '6' }}>Mon Espace</Heading>
    <NeedAuth client:load>
      <Account client:only="react" />
    </NeedAuth>
  </main>
</Layout>
