---
import Layout from '@/layouts/Layout.astro';
import { Heading } from '@radix-ui/themes';
import LoginForm from '@/features/auth/loginForm';
---

<Layout title="Se connecter - Sport Badminton — IUT Lannion">
  <main>
    <LoginForm client:only="react" />
  </main>
</Layout>
