---
import Layout from "@/layouts/Layout.astro";
import { Card, Grid } from "@radix-ui/themes";
import PlotFigure from "@components/Plot";

// });
---

<Layout title="Hello dashboard!!!">
  <h1>Hello dashboard</h1>
  <Card>
    <PlotFigure
      options={{
        color: { scheme: "burd" },
      }}
      client:only="react"
    />
  </Card>
</Layout>
