---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Component1 } from '../components/Component1.jsx';

import { getMatches } from '../actions';
import { Box, Heading, Button } from '@radix-ui/themes';
import { Landing } from '@/features/landing/Landing';

const matches = await getMatches();
---

<Layout title="Sport Badminton — IUT Lannion">
  <main>
    <Landing />
  </main>
</Layout>

<style>
  :root {
    theme: 'light';
  }

  @font-face {
    font-family: 'Adobe Text Pro';
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/AdobeTextPro-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Söhne Mono';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src:
      url('/fonts/soehne-mono-web-buch.woff2') format('woff2'),
      url('/fonts/soehne-mono-web-buch.woff') format('woff');
  }
</style>
