---
import Layout from '../layouts/Layout.astro';
import { MatchList } from '../features/matchlist/MatchList.jsx';
---

<Layout title="Mes matches">
  <main>
    <MatchList client:load />
  </main>
</Layout>
