.header-list{
    justify-content: space-between;
}

.rt-Link:where(.rt-underline-auto):where(:hover){
    text-decoration: none !important;
}

.none{
    display:none
}

.block{
    display: block;
}

.white{
    color: white;
}