---
import Layout from "../../layouts/Layout.astro";
import { RealtimeFormTest } from "../../features/realtime/RealtimeFormTest.jsx";
---

<Layout title="Welcome to Astro.">
  <main>
    <RealtimeFormTest client:load />
  </main>
</Layout>
