---
import Layout from "@/layouts/Layout.astro";
import { RealtimeFormTest } from "@/features/test/RealtimeFormTest.jsx";
---

<Layout title="Client 1">
  <main>
    <RealtimeFormTest client:load />
  </main>
</Layout>
